$playfair_font: 'Playfair Display', serif;
$ptSans_font: 'PT Sans', sans-serif;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $ptSans_font;
    color: #fff;
}
//!MIXIN
@mixin flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}


body {
    background-color: #000000;
}
.container {
    max-width: 900px;
    margin: 0 auto;
}

//!IMPORTS

@import 'header';
@import 'main';
@import 'collection_1';
@import 'collection_2';
@import 'newCollection';
@import 'brands';
@import 'footer';
